.form-container {
  background: #fff;
  color: #333;
  overflow-y: hidden;
}

body,
input,
select,
option,
textarea,
button {
  font-family: "Proxima", sans-serif;
}

@font-face {
  font-family: "Proxima";
  font-style: normal;
  font-weight: normal;
  src: local("Proxima"),
    url("/assets/font/Proxima\ Nova\ Alt\ Light.otf") format("truetype");
}

#form {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.form-left {
  background-image: url(/assets/images/cards/happy\ people.jpg);
  background-repeat: no-repeat;
  background-position: calc(100%) calc(100%);
  background-size: cover;
  object-fit: fill;
  height: 100vh;
}

.form-right {
  margin: 0 40px;
  overflow-y: scroll;
  height: 100vh;
}

.form-right .logo a {
  color: #444;
}

.form-body {
  padding: 20px;
  text-align: left;
}

.form-body h2 {
  text-align: center;
  color: var(--primary-color);
}

.form-body p {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0.7;
  margin: 3px 10px 15px;
}

/* Form group */
.form-group {
  margin-bottom: 30px;
}

.form-group label {
  display: block;
  font-size: 0.85rem;
  font-weight: 600;
  color: #333;
  opacity: 0.9;
  padding-bottom: 10px;
}

.form-group input,
.form-group button,
.form-group textarea,
.form-group select {
  display: block;
  width: 100%;
  padding: 20px;
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-radius: 5px;
  font-size: 0.9rem;
  color: #444;
  transition: 0.2s ease-in-out;
  /* box-shadow: 0px 1px 1px 0.6px rgba(0, 0, 0, 0.2); */
}

input[type="date"],
/* input[type="select"] */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  background-image: url(/assets/images/home/dropdown.png);
  background-size: 15px;
  background-position: calc(100% - 10px);
  background-repeat: no-repeat;
}

.form-group input:focus,
.form-group button:focus,
.form-group textarea:focus,
.form-group select:focus {
  outline: none;
  border-color: #777;
}

.form-group button {
  cursor: pointer;
  background-color: var(--primary-color);
  border-radius: 40px;
  color: #333;
  transition: background 0.3s ease-in-out;
}

.form-group button:hover {
  background-color: var(--text-primary);
}

.form-footer p {
  font-size: 0.92rem;
  margin-top: 20px;
}

.form-footer p a {
  text-decoration: underline;
}

.form-footer .socials {
  text-align: center;
}

.form-footer a {
  opacity: 0.9;
  font-size: 0.9;
  margin: 10px;
  color: #555;
}

.form-footer .socials a:hover {
  opacity: 1;
}

/* Responsive */
@media (max-width: 900px) {
  .form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #form {
    grid-template-columns: 1fr 2fr;
  }

  .form-right {
    margin: 0 10px;
  }
}

@media (max-width: 600px) {
  #form {
    grid-template-columns: 0fr 1fr;
  }

  .form-container {
    overflow: scroll;
  }

  .form-left {
    display: hidden;
  }

  .form-right {
    overflow: inherit;
  }
}
