@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Righteous&display=swap');

:root {
   --primary-color: #FFDD00;
   --secondary-color: #333333;
   --text-primary: #ebbf0f;
   --bg-primary: #c9a1e4;
   --bg-primary-dark: #40155C;
}

*, html {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   line-height: 1.5;
   color: var(--secondary-color);
   font-weight: 300;
   height: 10000px;
}

h1, h2, h3 { 
   padding-bottom: 15px;
}

h1::selection,
h2::selection, 
h3::selection {
   background: var(--text-primary);
   color: #fff;
}

p {
   margin: 10px 0; 
}

a {
   text-decoration: none;
   color: #fff;
}

li {
   list-style: none;
}

i {
   font-style: normal;
}

/* Navbar */
.navbar {
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 100%;
   height: 70px;
   position: fixed;
   top: 0;
   left: 0;
   padding: 1rem;
   background: #fff;
   box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15);
   z-index: 10;
   transition: .4s ease-in-out;
}

.navbar.top {
   background: transparent;
   box-shadow: none;
}

.navbar .nav-menu li .colors,
.navbar .nav-menu li .colora,
.navbar .nav-menu li .colorb,
.navbar .nav-menu li .colorc,
.navbar .colorz {
   color: #fff;
}

.navbar .nav-menu {
   display: flex;
   align-items: center;
}

.navbar .nav-menu li a {
   font-weight: 600;
   font-size: 0.9rem;
   margin: 0 20px;
   transition: all .2s ease-in;
}

.navbar .nav-menu li a {
   color: var(--secondary-color);
}

.navbar .nav-menu li a:hover {
   color: var(--text-primary);
}

.navbar .nav-menu li:last-child a:hover {
   color: var(--secondary-color);
}

.logo {
   font-family: 'Righteous', sans-serif;
   margin-top: 0.8rem;
   padding: 1rem;
   font-size: 1.2rem;
}

.logo img {
   width: 40px;
}

.logo a {
   display: flex;
   align-items: center;
   transition: all 0.4s ease-in-out;
   color: var(--secondary-color);
}

.logo a span {
   display: flex;
   flex-direction: column;
   line-height: 1rem;
   font-style: normal;
}

/* Hamburger menu */
.hamburger {
   display: none;
   cursor: pointer;
}

.bar {
   display: block;
   width: 25px;
   height: 3px;
   margin: 5px auto;
   transition: all 0.3s ease-in-out;
   background-color: var(--text-primary);
}

/* Hero */
#hero {
   height: 100vh;
   background: url(/assets/images/home/hero.jpg) no-repeat center center/cover;
   box-shadow: inset 0 0px 100px 100px rgba(0, 0, 0, 0.5);
}

#hero .content {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   height: 100%;
   padding: 60px 40px 20px;
   color: #fff;
   max-width: 1000px;
   margin: 0 auto;
}

#hero .content h1 {
   font-family: 'Righteous', sans-serif;
   font-size: 3rem;
   padding-bottom: 10px;
   transition: all .4s ease-in-out;
}

#hero .content p {
   max-width: 700px;
   font-weight: 500;
   font-size: 1.1875rem;
}

#hero .content .btn {
   margin: 15px 0;
   font-weight: 600;
}

/* Thank you page */
.thankyou {
   height: 70vh;
}

.thankyou .content {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100%;
   padding: 20px;
}

.thankyou .content h1 {
   font-size: 4rem;
} 

.thankyou .content h4 {
   font-weight: 500;
   font-size: 1.2rem;
   padding: 10px;
}

.thankyou .content p {
   margin-bottom: 20px;
}

.thankyou .btn {
   font-weight: 600; 
}

.thankyou .btn:hover span {
   transition: all 0.5s ease-in;
}

.thankyou .btn:hover span {
   transform: rotate(90deg);
}

.thankyou .back {
   text-decoration: underline;
   font-size: 0.85rem;
}

.form-footer {
   padding: 20px;
}

.form-footer .copy {
   font-size: 0.9rem;
}

/* Responsive */
@media(max-width: 900px) {
   .navbar {
      justify-content: space-between;
      padding: 0.5rem;
   }

   .navbar .nav-menu li a {
      margin: 0 15px;
   }
}

@media(max-width: 850px) {
   .navbar {
      justify-content: space-between;
   }

   .navbar .nav-menu {
      position: fixed;
      right: -100vh;
      top: 0;
      flex-direction: column;
      width: 350px;
      height: 100%;
      text-align: center;
      transition: 0.3s;
      background-color: #fff;
   }
   
   .nav-menu li {
      border-top: 1px solid #aaa;
      width: 60%;
   }
   
   .nav-menu li:first-child {
      margin-top: 130px; 
   }
   
   .nav-menu li:last-child {
      border-top: none;
   }

   .nav-menu li:last-child a {
      background-color: var(--primary-color); 
   }

   .navbar .nav-menu li a {
      font-size: 1rem;
      padding: 1rem;
      margin: 0px;
   }

   .navbar .nav-menu li a:hover {
      color: var(--secondary-color);
   }
   
   .nav-menu.active {
      right: 0;
   }

   .nav-menu.active body {
      overflow-y: hidden;
   }

   .nav-link {
      display: block;
      width: 100%;
      color: var(--secondary-color);
   }

   .navbar .hamburger {
      display: block;
   }
   
   .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
   }
   
   .hamburger.active .bar:nth-child(2) {
      opacity: 0;
   }
   
   .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
   }

   /* Hero */
   #hero .content h1 {
      font-size: 2.5rem;
   }

   #hero .content p {
      margin: 1.5rem;
   }
}

@media(max-width: 768px) {
   /* Hero */
   #hero .content h1 {
      font-size: 2.3rem;
   }
}

@media(max-width: 400px) {
   .navbar {
      padding: 0.7rem;
   }

   .navbar .nav-menu {
      width: 80%;
   }

   .nav-menu li:first-child {
      margin-top: 160px;
   }

   .logo {
      padding: 0rem;
      font-size: 1.1rem;
   }

   #hero .content {
      padding: 10px 10px 20px;
   }
}