.container-xlarge {
   max-width: 1500px;
   margin: 0 auto;
   padding: 1rem 2rem;
}

.container-large {
   max-width: 1200px;
   margin: 0 auto;
   padding: 1rem 2rem;
}

.container-medium {
   max-width: 900px;
   margin: 0 auto;
   padding: 1rem 2rem;
}

.container-small {
   max-width: 600px;
   margin: 0 auto;
   padding: 1rem;
}

.btn {
   display: inline-block;
   background-color: var(--primary-color);
   border: 1px solid var(--primary-color);
   color: var(--secondary-color);
   cursor: pointer;
   padding: 1rem 2.2rem;
   margin: 0.5rem 0;
   font-weight: 400;
   transition: all 0.3s ease-in-out;
}

.btn:hover {
   background-color: #fff;
   color: var(--secondary-color);
   border: 1px solid var(--primary-color);
}

.btn-small {
   padding: 0.5rem 1.5rem;
}

.btn-primary {
   background-color: var(--bg-primary);
   color: var(--bg-primary-dark);
}

.btn-secondary {
   background: #fff;
   color: var(--secondary-color);
}

.btn-secondary:hover {
   background: var(--primary-color);
   color: #fff;
}

.card-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   padding: 1rem;
   column-gap: 1rem;
}

.card-container .card {
   text-align: center;
}

.card-container img {
   width: 260px;
}

.card-container .heading-two {
   font-size: 2.5rem;
}

.card {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   padding: 1rem;
}

.card h3 {
   padding-bottom: 0rem;
}

/* Heading */
.heading-one {
   font-family: 'Righteous', sans-serif;
   font-size: 1.75rem;
   text-align: center;
   color: var(--secondary-color);
}

.heading-two {
   font-size: 1.15rem;
   font-weight: 600;
   color: var(--text-primary);
   text-align: center;
}

.heading-small {
   font-size: 1rem;
   color: var(--text-primary);
   text-align: center;
}

/* Paragraph */
.p-1 {
   font-size: 1rem;
   font-weight: 500;
   letter-spacing: 1rem;
}

/* Paragraph Size */
.ps-1 {
   font-size: 1.1rem;
   line-height: 1.6rem;
   text-align: center;
}

/* Margin Top*/
.my-1 {
   margin-top: 3rem;
}

.my-2 {
   margin: 1.25rem;
}

.my-3 {
   margin-top: 0.7rem;
}

/* Padding */
.py-1 {
   padding: 1rem;
}

.py-2 {
   padding: 0.5rem
}